<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-lg-6 shadow p-3 mb-5 bg-white rounded">
    <h2 class="text-center my-3">Create your meeting</h2>
    <%= render 'form', dog: @dog, meeting: @meeting %>
    </div>
  </div>
</div>
