// Define variables for your color scheme
$yellow: #F9D25A;
$orange: #F49049;
$red: #D3604C;
$black: #413B47;
$white: #413B47;
// For example:
/$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue: #167FFB;
