.main-container {
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.meeting-container {
  display: flex;
  flex-direction: column;
}

.meeting-container h1 {
  text-align:center;
}

.meeting-container p {
  text-align:center;
  font-size: 20px;
}


.meetingcard {
  margin-top: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  position:relative;
  width: 950px;
  margin-bottom: 10px;
}

.meetingcard .row {
  margin: 0px 2px;
}

.heart {
  position: absolute;
  font-size: 55px;
  left: 135px;
  color: #E95281;
  top: 43px;
}

.photos {
  position: relative;
  margin-left: -5px;
  padding: 10px;
}

.dog-infos ul {
  list-style:  none;
}

.dog-infos h2 {
text-align: center;
}

.meeting-infos {
  text-align:center;
  margin: 0px auto;
}

.meeting-infos ul {
  list-style:  none;
  margin-left: -40px;
}

.meeting-infos h2 {
  text-align: center;
}

.user-infos ul {
  list-style:  none;
}

.user-infos h2 {
text-align: center;
}

.user-infos {
  padding-right: 15px;
}

.my_photo img {
  border-radius: 50%;
}
.photo img {
  border-radius: 50%;
}

.photos {
  background-color: #FEEAD1;
}

.status {
  position: absolute;
  top: 93px;
  left: 789px;
  background-color:#F6D055;
  color:white;
  border-radius: 4px;
}

.status p {
  margin: 2px 6px;
}

.validation {
  position:absolute;
  font-size: 50px;
  top: 69px;
  left: 800px;
}

.validation a {
  color:#27B24A;
}

.validation a:hover {
  text-decoration: none;
}

.canceling {
  position:absolute;
  font-size: 30px;
  top: 85px;
  left: 856px;
}

.canceling a:hover {
  text-decoration: none;
}
